/* 
Project Name: Table of Contents WDB
Client: WDB
Author:Claire Cohen
*/


/******************************************
/* SETUP                   
/*******************************************/


/******************************************
/* BASE STYLES                   
/*******************************************/

body {
    background-color: #C3D7E4;
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
    width: 55%;
    margin-right: auto;
    margin-left: auto;
}

header{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size:1.125em;
}

.title{
    font-family: 'Arapey', serif;
    margin-right: auto;
    margin-left: auto;
    color:black;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: navy;
    text-decoration: none;
}
li{ 
    font-family: 'adobe caslon pro';
    text-align: center;
    font-size:1.125em;
    padding: 0;
    list-style: none;
    margin-right: auto;
    margin-left: auto;
}

ul{
    padding: 0;
}

footer {

}

/******************************************
/* MEDIA QUERIES                  
/*******************************************/



